.App {
  color: rgb(255, 223, 182);
  text-align: center;
  background:rgb(29, 17, 1);
}

.App .container {
  background-image: url("https://images.unsplash.com/photo-1521225753516-46438a76f25a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8ODN8fGFudGlxdWV8ZW58MHx8MHx8&auto=format&fit=crop&w=600&q=60");
}

.App-header h1 {
  padding: 25px;
  font-style: italic;
}

.App-footer {
  margin: 30px 0px;
  font-size: 14px;
}

.App-footer a {
color:rgb(247, 176, 84);
text-decoration: none;
}

.App-footer a:hover {
  text-decoration: underline;
}

