.WordMeaning h4 {
  font-weight: bold;
  color: #fdc070;
  font-size: 29px;
}

.WordMeaning p {
  color: antiquewhite;
}

.WordMeaning .definition {
  font-size: 20px;
  margin: 10px 0 20px;
}

.WordMeaning .bi-book {
  font-size: 18px;
  margin-right: 5px;
  color: #fac887;
}

.WordMeaning .example {
  opacity: 0.8;
  font-size: 15px;
  margin-bottom: 20px;
  color: #ffffff;
  font-style: italic;
}
